__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
dist/
build/
pip-wheel-metadata/
.python-version


venv/
.venv/
env/
ENV/
*.venv

.env
*.env

db.sqlite3
/media/           # subidas de usuarios (generadas en runtime)
staticfiles/      # salida de collectstatic (NO versionar)

!**/migrations/__init__.py

.pytest_cache/
.coverage
htmlcov/

*.log

.vscode/
.idea/
*.swp

.DS_Store
Thumbs.db

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
